
body{
    background-color: #020e26;
    height: 200vh;    
}

/*iconos*/
.icons{
    display: flex;
    column-gap: 25px;
    justify-content: center;
}
.icon{
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    font-size:35px;
    border-radius: 50%;
    outline: 2px solid #fff;
    transition-property: outline-offset, outline-color,background-color ;
    transition: .25s;
}
.icon:hover{
    outline-offset: 4px;
}
.icon i{
    background-color: transparent;
}
.icon:hover i{
    animation: shake .30s;
    background-color: transparent;
}
.icon--instagram:hover{
    background-image:
    radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
    outline-color: #a02d76;
} 
.icon--twitter:hover{
    background-color:#1da1f2 ;
    outline-color: #1da1f2;
}
.icon--likedin:hover{
    background-color: #0077B5;
    outline-color: #0077B5;
}
.icon--git:hover{ 
    background-color:#2ea44f;
    outline-color: #2ea44f;
}
.icon--face:hover{
    background-color: #3b5998;
    outline-color: #3b5998;
}


@keyframes shake {
    10% {
        transform: rotate(15deg);
    }
    20% {
        transform: rotate(-15deg);
    }
    30% {
        transform: rotate(15deg);
    }
    40% {
        transform: rotate(-15deg);
    }
    50% {
        transform: rotate(1deg);
    }
}


/* pelotas de carga*/
.loader{
    position:absolute;
    top:58%;
    left:calc(50% + 58px);
    transform: translate(-50%,-50%) rotate(-90deg) scale(4);
}
.loader span{
    position: relative;
    display: block;
    height: 58px;
    width: 2px;
    margin-top: -46px;
    background:transparent;
    animation: animate 2s linear infinite;
}
.loader span::before, .loader span::after{
    content: '';
    height: 10px;
    width: 10px;
    position: absolute;
    left: 50%;
    border-radius: 50%;
    transform: translateX(-50%);
    background: red;
    box-shadow: 0 0 2px rgba(0, 0, 0, 5);
}

.loader span::before{
    top: 0px;
}
.loader span::after{
    bottom: 0px;
}
.loader span:nth-child(1)::before,
.loader span:nth-child(1)::after{
    background-color: #ff0;
}

.loader span:nth-child(2)::before,
.loader span:nth-child(2)::after{
    background-color: #ff24a8;
}

.loader span:nth-child(3)::before,
.loader span:nth-child(3)::after{
    background-color: #0f0;
}

.loader span:nth-child(4)::before,
.loader span:nth-child(4)::after{
    background-color: #2196f3;
}

.loader span:nth-child(1){
    animation-delay: 0s;
}

.loader span:nth-child(2){
    animation-delay: .5s;
}

.loader span:nth-child(3){
    animation-delay: 1s;
}

.loader span:nth-child(4){
    animation-delay: 1.5s;
}

@keyframes animate{
    0%, 75%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(180deg);
    }
}


/* carga /* no anda*/

.charge{
    width: 120px;
    height: 75px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
}
.charge span{
    font-size: 25px;
    text-transform: uppercase;
    margin: auto;
}
.ball{
    width: 25px;
    height: 25px;
    border-radius:50%;
    background-color: #fff;
    animation: bounce .5  infinite;
}
.ball:nth-child(2){
    animation-delay: .16s;
}
.ball:nth-child(3){
    animation-delay: .32s;
}


@keyframes bounce {
    from {
        transform: scaleX(1.25);
    }
    to{
        transform: translateY(10px) scaleX(1); 
    }
}
*/

/* texto difuminado*/

.container-body{
    height: 98vh;
    text-align: center;
}
.body{
    height: 25vh;
    border: #0077B5 solid 1px;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    background-color:#020e26;
    }
.h1{
    position:absolute;
    color:#ffffff;
    font-size:120px;
    top: 200px;
    left: 550px;
    transform:
        translate(-50%,-51%);
    animation:
        morph-effect 10s
        infinite ease-in-out;
    }
.h1:nth-child(1){
    animation-delay:-10s;
}
.h1:nth-child(2){
    animation-delay:-5s;
}
.h1:nth-child(3){
    animation-delay:-0s;
}
@keyframes morph-effect {
    0%, 20%, 100% {
        filter:blur(0px);
        opacity:1;
}
    40%, 80% {
        filter:blur(15px);
        opacity:0;
}
    60% {
        filter:blur(0px);
        opacity:0;
}
}

/*
.subcontainer__ul{
    display: none;
}
.subcontainer__li{
    position: absolute;
    left: 50px;
    padding: 15px;
    margin-top: 15px;
    width: 50px;
    height: 50px;
}
.container a {
    text-decoration: none;
    color: #fff;
}
.container__ul{
    display:inline-block;
}
.container__li{
    padding: 5px;
    border: #0077B5 solid 1px;
}
.sub:hover>.subcontainer__ul{
    display: block;
}*/


/* texto sorpresa*/

.title{
    margin-top: 400px;
    margin-bottom: -400;
}
.title span {
    --total: calc(var(--duration)
    + var(--delay));
    position:relative;
    display:block;
    color:transparent;
    overflow:hidden;
    animation: revealText 1s
    var(--total) forwards;
}
.title span::after {
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    transform: scalex(0);
    transform-origin: left;
    background:#bb93fc;
    animation:
    rollin var(--duration)
    var(--delay)infinite ease-in-out,
    rollout var(--duration)
    var(--total) forwards;
}
.title span:nth-child(2)::after{
    border-top:3px solid#896ab9;
}
@keyframes revealText {
    to{
        color:#fff;
    }    
}
@keyframes rollin {
    from{
        transform: scaleX(0);
    }
    to{
        transform: scaleX(1);
    }
}
@keyframes rollout {
    from{
        transform: translateX(0)
}
    to{
        transform: translateX(105%);
}
}


/* idea de footer*/

.footer a, li{
    text-decoration: none;
    list-style-type: none;
}
.footer a{
    color: #fff;
    line-height: 35px;
    font-size: 20px;
}
.footer a:hover{
    color: #bb93fc;
}
.single-footer ul{
    margin: 0%;
    padding: 0%;
}

.footer{
    margin-top: 600px;
    width: 100%;
    height: 25%;
    color: #fff;
    border: #000 solid 1px;
    background: linear-gradient(-229deg, #0093E9, #80D0C7);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.container{
    position: relative;
    margin: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 90%;
    background: linear-gradient(-229deg, #80D0C7, #0093E9);
    overflow: hidden;
    
}
.container::after{
    content:"";
    position: absolute;
    background: #000;
    inset: 6px;
    
}
.container::before{
    content:"";
    position: absolute;
    width: 120%;
    height: 90%;
    margin: 0 0 0 -10%; ;    
    background: linear-gradient(-229deg, #0004ff, #FC00FF);
    animation: animates 7s linear infinite;
}

.container h4{
    font-size: 30px;
    margin: 0;
    padding: 10;
    z-index: 1;
}
.container ul{
    margin: 0;
    padding: 10;
}
.container h4::selection{
    background: rgba(255, 255, 255, 0.5);
}
.container  a::selection{
    background: rgba(255, 255, 255, 0.5);
}
.single-footer{
    position: relative;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 75%;
    background-color: rgba(0, 0, 0, .5);
    padding: 20px;
    margin: 6px;
    z-index: 1;
}
.single-footer ul{
    text-align: justify;
    padding: 0 0 0 px;
}
.single-footer-container{
    display: flex;
    align-items: space-around;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}
.single-footer-adress{
    display: flex;
    justify-content: space-betw;
    align-items: center;
    flex-direction: column;
    height: 50%;
    margin-top: -30px;
}
.signup-form{
    background-color: transparent;
    height:  60px;
    width:  200px;
    border-radius: 10px;
    text-align:center ;
    border: none;
}
.suscribe{
    background-color: #fff;
    border-radius: 10px;
    
}

.subscribe-input{
    background-color: #fff;
    height: 50px;
    width: 75%;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    border: none;
    font-size: 20px;
    
}
.subscribe-input::placeholder{
    color: #000;
}
.subscribe-input:focus{
    outline: none;
}
.subscribe-btn{
    color: #0093E9;
    background-color: transparent;
    border: none;
    height: 100%;
    padding: 0 10 0 0;
    font-size: 20px;
    cursor: pointer;
}
.social-profile ul{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}

/* borde en movimiento*/

.box{
    position:relative;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    border-radius: 5px;
    overflow: hidden;
    margin: auto;
}
.box h1{
    color: #38ed38;
    font-size: 4rem;
    position: relative;
    z-index: 1;
}
.box::after{
    content: '';
    position: absolute;
    background: #000;
    inset: 4px;
}
.box::before{
    content: '';
    position: absolute;
    width: 150px;;
    height:140%; 
    background: linear-gradient(to left, #0093E9, #80D0C7);
    animation: animates 4s linear infinite;
}

@keyframes animates {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}


/*
@media only screen and (max-width:600px ){
    .charge, .loader, .icons{
        display: none;
    }
    .icons__responsive{
        display: flex;
        column-gap: 25px;
        justify-content: center;
    }
    .icon__responsive{
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: #fff;
        font-size:35px;
        border-radius: 50%;
        outline: 2px solid #fff5f8;
        transition-property: outline-offset, outline-color,background-color ;
        transition: .25s;
    }
    .icon__responsive{
        outline-offset: 4px;
    }
    .icon__responsive i{
        animation: shake .30s;
    }
    .icon--instagram__responsive:hover{
        background-image:
        radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
        outline-color: #a02d76;
    } 
    .icon--twitter__responsive:hover{
        background-color:#1da1f2 ;
        outline-color: #1da1f2;
    }
    .icon--likedin__responsive:hover{
        background-color: #0077B5;
        outline-color: #0077B5;
    }
    .icon--git__responsive:hover{ 
        background-color:#2ea44f;
        outline-color: #2ea44f;
    }
    .icon--face__responsive:hover{
        background-color: #3b5998;
        outline-color: #3b5998;
    }
    
    
    @keyframes shake {
        10% {
            transform: rotate(15deg);
        }
        20% {
            transform: rotate(-15deg);
        }
        30% {
            transform: rotate(15deg);
        }
        40% {
            transform: rotate(-15deg);
        }
        50% {
            transform: rotate(1deg);
        }
    }
}
*/
/*f
span{
    display: block;
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid;
    width: 12ch;

    animation: typing 2s steps(12), blink .5 infinite step-end alternate ;
    overflow: hidden;
    color: #fff;
}

@keyframes typing{
    from {
        width: 0
    }
}
@keyframes blink{
    50% {
        border-color: transparent
    }
}*/

/* ejemplo de botones*/

.botones{
    height: 195px;
    margin: 5px 5px 60px 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: space-around;
}

.botones button{
    border: outset 1px #00aced;  ;
    font-size: 17px;
    background-color: transparent;
    height: 50px;
    width: 100px;
    transition: all .6s;
    color: #fff;
}


.botones button:hover{
    background-color: #00aced;
    color: #fff;
    box-shadow: inset 0px 0px 10px 2px #ccc;
    transform: scale(1.1);
    transition: .5s;
    border-radius: 35px 15px 35px 15px;
}
.botones button:active{
    background-color: #00aced;
    color: #fff;
    box-shadow: inset 0px 0px 10px 2px #ccc;
    transform: scale(1.1);
    transition: .5s;
    border-radius: 35px 15px 35px 15px;

}